.pagina-acervo-admin {
    background-color: var(--bege);
    min-height: 100vh;
}

/* HERO */
.titulo-acervo-admin {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: var(--vinho);
}

.titulo-acervo-admin p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.titulo-acervo-admin h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
}

/* BANNER */
.imagem-acervo-admin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.imagem-acervo-admin img {
    width: 90%;
    max-width: 1600px;
    object-fit: cover;
}

/* ÁREA DOS CARDS */
.cards-section-admin {
    width: 100%;
    background-color: var(--vinho);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    max-width: 100%;
    min-height: 100vh;
}

/* CONTROLES */
.controles-acervo-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.controles-acervo-admin > *:last-child {
    margin-left: 0px;
}
.controles-acervo-admin .caixaPesquisa {
    flex: unset;
    width: 600px;
}

.controles-acervo-admin .btnOrdenar {
    font-weight: bold;
}

.controles-acervo-admin .btnFiltro {
    width: 150px;
    justify-content: space-between;
}


/* GRID DE CARDS */
.cards-acervo-admin {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
    gap: 30px;
    width: 90%;
    max-width: 1400px;
}

.cards-acervo-admin .card-template {
    width: 280px;
}

.cards-acervo-admin .card-imagem {
    height: 170px;
}

.cards-acervo-admin .card-info h2 {
    font-size: 18px;
    font-weight: bold;
}

.cards-acervo-admin .card-info p {
    font-size: 14px;
}

/* WRAPPER COM CHECKBOX */
.card-admin-wrapper {
    position: relative;
}

.checkbox-card-admin {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2;
}

.checkbox-card-admin input[type="checkbox"] {
    accent-color: var(--vinho);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* MENSAGEM VAZIA */
.mensagem-admin {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    color: var(--bege);
}