.navbar{
    background-color: var(--bege);
    margin: none;
    padding: none;
}
.artistas {
    display: flex;
    flex-direction: column;
    background-color: var(--bege);
    text-align: center;
}
.artistasConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    text-align: center;
    padding-left: var(--padding-pagina);
    padding-right: var(--padding-pagina);
    margin-top: 25px;
}
.text1{
    font-size: 16px;
    font-weight: 700;
    color: var(--vinho);
}




.text2 h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    color: var(--vinho);  
    margin-bottom: 40px;
}


.imagem-artistas {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-bottom: 70px;
}

.imagem-artistas img {
    width: 90%;
    max-width: 1600px;

    object-fit: cover;
}
.mensagem {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    color: var(--bege);
}