.publicar-obra {
    display: block;
    margin-left: auto;
    margin-top: 30px;
    background-color: var(--vinho);
    color: var(--bege);
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    padding: 8px 12px;
}

.publicar-obra:hover {
    background-color: var(--laranja);
    color: var(--bege)
}