.botao-nova {
    display: flex;
    background-color: var(--bege);
    color: var(--vinho);
    border: none;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    padding: 8px 12px;
    gap: 4px;

    transition: background-color 0.2s;
}

.botao-nova:hover {
    background-color: var(--laranja);
    color: var(--bege);
}

.botao-nova svg {
    font-size: 16px;
}
  