.salvar-alteracoes {
    background-color: var(--vinho);
    color: var(--bege);

    display: block;
    padding: 8px 14px;
    width: fit-content;

    margin-left: auto;
    margin-top: 12px;

    text-align: center;
    cursor: pointer;

    border: none;
    border-radius: 8px;

    font-weight: bold;
    font-size: 18px;
}

.salvar-alteracoes:hover {
    background-color: var(--laranja);
    color: var(--bege);
}