.botao-excluir {
    background-color: var(--vinho);
    color: var(--bege);
 
    border: none;
    border-radius: 8px;
 
    padding: 10px 30px;
 
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
 
    cursor: pointer;
 
    display: block;
    margin-left: auto;
    margin-top: 20px;
 
    transition: background-color 0.2s;
}
 
.botao-excluir:hover {
    background-color: var(--laranja);
}