.campo-texto-public-field {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid var(--vinho);
    box-sizing: border-box;
    margin: 4px 0;
    background-color: var(--bege);
    gap: 10px;
}

.campo-erro {
    border: 2px solid var(--pink);
}

label {
    font-size: 18px;
    display: block;
    font-weight: bolder;
}

input::placeholder, textarea::placeholder {
    color: var(--vinho);
    opacity: 0.5;
}

textarea {
    resize: none;
    height: 120px;
}