.upload-publicacao input {
    display: none;
}

.upload-publicacao label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    border: 2px solid var(--vinho);
    border-radius: 8px;
    margin-top: 26px;
    gap: 14px;
}

.upload-publicacao svg {
    font-size: 40px;
    cursor: pointer;
}

.upload-publicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-img {
    width: 280px;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.erro-imagem{
    align-items: flex-start;
    padding-right: 90px;
    margin-top: 8px;
}


.upload-publicacao label.erro {
    border: 2px solid var(--pink);
}
