.upload-publicacao input {
    display: none;
}

.upload-publicacao label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    border: 2px solid var(--vinho);
    border-radius: 8px;
    margin-top: 26px;
    gap: 14px;
    overflow: hidden;
}

.upload-publicacao svg {
    font-size: 40px;
    cursor: pointer;
}

.upload-publicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-img {
    width: 280px;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.erro-imagem{
    align-self: flex-start;
    margin-top: 8px;
    font-weight: bold;
    color: var(--pink);
    font-size: 14px;
}



.upload-publicacao label.erro-borda {
    border: 2px solid var(--pink);
}

.upload-publicacao label.erro p,
.upload-publicacao label.erro svg {
    color: var(--vinho);
}


.upload-publicacao label:has(.preview-img) {
    position: relative;
}

.upload-publicacao label:has(.preview-img):hover::after {
    content: "Alterar imagem";
    position: absolute;
    color: var(--bege);
    font-weight: bold;
    font-size: 17px;
    pointer-events: none;
    z-index: 1;
}

.upload-publicacao label:has(.preview-img):hover .preview-img {
    opacity: 0.3;
    transition: opacity 0.2s ease;
}

.upload-publicacao label:has(.preview-img):hover {
    background-color: var(--vinho);
    border-radius: 8px;
    transition: background-color 0.2s ease;
}