.card-template {
    width: 280px;

    display: flex;
    flex-direction: column;
    cursor: pointer;

    border-radius: 20px;

    overflow: hidden;

    background-color: var(--bege);

    transition: transform 0.2s ease, box-shadow 0.2s ease;


}

.card-template:hover {
    transform: translateY(-3px);
    background: #f4ebe0;
    
}

.card-imagem {
    width: 100%;
    height: 200px;

    object-fit: cover;

    display: block;
}

.card-info {
    height: 64px;

    background-color: var(--bege);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.card-info h2 {
    font-size: 22x;
    font-weight: 100, bold;

    margin: 0;

    color: var(--vinho);
}

.card-info p {
    font-size: 16px;

    margin-top: 0px;
    margin-bottom: 0;

    color: var(--vinho);
}