.card-template {
    width: 312px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;

    overflow: hidden;

    background-color: #E9E1D6;
}

.card-imagem {
    width: 100%;
    height: 212px;

    object-fit: cover;

    display: block;
}

.card-info {
    height: 64px;

    background-color: #E9E1D6;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.card-info h2 {
    font-size: 24px;
    font-weight: 400;

    margin: 0;

    color: #2E2523;
}

.card-info p {
    font-size: 16px;

    margin-top: 0px;
    margin-bottom: 0;

    color: #4A403D;
}