.filtro {
  position: relative;
}

.btnFiltro {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1.5px solid var(--vinho);
  background: var(--bege);
  color: var(--vinho);
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  width: 225px;
}

.btnFiltro:hover {
  background-color: var(--bege);
}

.setaFiltro {
  display: flex;
  font-size: 16px;
  color: var(--vinho);
  margin-left: auto;

  
}

.menuFiltro {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  background: var(--bege);
  border: 1.5px solid var(--bege);
  border-radius: 8px;
  overflow: hidden;
  z-index: 100;
  min-width: 200px;
  font-weight: bolder;
}

.menuFiltro-scroll {
  overflow-y: auto;
  max-height: 150px;
}

.menuFiltro-scroll::-webkit-scrollbar {
  width: 8px; /* largura do scroll */
}

.menuFiltro-scroll::-webkit-scrollbar-track {
  background: transparent; /* fundo do trilho */
  border: 1px solid #eee2ce;
}

.menuFiltro-scroll::-webkit-scrollbar-thumb {
  background-color: var(--vinho); 
  border-radius: 500px; 
}

.menuFiltro-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--pink); /* cor ao passar o mouse */
  opacity: 0.8;
}

.itemFiltro {
  padding: 10px 16px;
  font-size: 13px;
  color: var(--vinho);
  cursor: pointer;
  transition: background 0.15s;
}

.itemFiltro:hover {
  background: #e9dfd2;
}

.itemFiltro--ativo {
  background: var(--vinho);
  color: var(--bege);
}

.itemFiltro--ativo:hover {
  background: var(--vinho);
}