.modal-layout {
    display: flex;
    flex-direction: column;

    background-color: var(--bege);
    color: var(--vinho);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 820px;
    height: 650px;
    padding: 40px;

    z-index: 100;
    border-radius: 8px;
}

.fechar-modal-editar {
    width: 95px;
    height: 95px;
    border: none;
    border-radius: 20px;

    background-color: var(--vinho);
    color: var(--bege);
    font-size: 55px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0.45);
    transform-origin: top right;
    margin-left: -40px;
}

.fechar-modal-editar:hover {
    background-color: var(--laranja);
}

.header-editar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header-editar h2 {
    margin-top: 8px;
}

.foto-modal-editar {
  background-color: var(--pink);
  border-radius: 50%;
  cursor: pointer;

  width: 210px;
  height: 210px;

  object-fit: cover;
}

.editar-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
}

.editar-lado-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    align-items: center;
    margin-top: -26px;
}

.campos-lado-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editar-lado-direito {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: -32px;
}

.campos-lado-direito {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-filtro-cidade .btnFiltro {
    border: 2px solid var(--vinho);
    width: 300px;
}

.modal-filtro-cidade .menuFiltro {
    bottom: calc(100% + 6px);
    border: 2px solid var(--vinho);
    width: 300px;
    top: auto;
}

.container-foto-perfil {
    position: relative;
}

.container-foto-perfil:hover .foto-modal-editar {
    opacity: 0.4;
    transition: opacity 0.2s ease;
}

.container-foto-perfil::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--vinho);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.container-foto-perfil:hover::after {
    opacity: 0.7;
}

.container-foto-perfil:hover::before {
    content: "Alterar perfil";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bege);
    font-weight: bold;
    font-size: 16px;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}

.label-foto-perfil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}