.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-denuncia {
    position: relative;

    width: 700px;

    background-color: var(--bege);

    border-radius: 18px;

    padding: 70px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 35px;

    color: var(--vinho);
}

.modal-denuncia h2 {
    max-width: 560px;

    text-align: center;

    font-size: 2rem;
    font-weight: 800;
    line-height: 1.3;
}

.modal-denuncia p {
    font-size: 1.3rem;
    font-weight: 700;
}

.email-box {
    display: flex;
    align-items: center;

    border: 3px solid var(--vinho);

    border-radius: 10px;

    overflow: hidden;
}

.email-box span {
    padding: 14px 20px;

    font-size: 1.1rem;
    font-weight: 700;
}

.btn-copy {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;

    border: none;

    border-left: 3px solid var(--vinho);

    padding: 12px 16px;

    cursor: pointer;

    color: var(--vinho);

    font-size: 1.3rem;
}

.btn-fechar {
    position: absolute;

    top: 25px;
    right: 25px;

    width: 42px;
    height: 42px;

    border: none;

    border-radius: 10px;

    background-color: var(--vinho);

    color: var(--bege);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-size: 1.6rem;
}