.modal-layout {
    display: flex;
    flex-direction: column;

    background-color: var(--bege);
    color: var(--vinho);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 600px;
    padding: 40px;
    max-height: 100vh;
    overflow-y: auto;

    z-index: 100;
    border-radius: 8px;
}

.fechar-modal-editar {
    width: 95px;
    height: 95px;
    border: none;
    border-radius: 20px;

    background-color: var(--vinho);
    color: var(--bege);
    font-size: 55px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0.45);
    transform-origin: top right;
    margin-left: -40px;
}

.fechar-modal-editar:hover {
    background-color: var(--laranja);
}

.header-editar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header-editar h2 {
    margin-top: 8px;
}

.foto-modal-editar {
  background-color: var(--pink);
  border-radius: 50%;
  cursor: pointer;

  width: 210px;
  height: 210px;

  object-fit: cover;
}

.editar-conteudo {
    display: flex;
    gap: 6rem;
}

.editar-lado-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    align-items: center;
    margin-top: -20px;
}

.campos-lado-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editar-lado-direito {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: -20px;
}

.campos-lado-direito {
    display: flex;
    flex-direction: column;
    gap: 16px;
}