body {
  background-color: var(--vinho);
  color: var(--bege)
}

.perfil {
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}

.perfil_info {
  display: flex;
  gap: 8rem;
  padding: var(--padding-pagina);
  margin-left: 14rem;
}

.perfil_obras {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: var(--padding-pagina);
  padding-top: 4rem;
}

.perfil_dados {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  text-align: justify;
}

.perfil_foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fotoPerfil {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.perfil_user {
  padding-top: 1rem;
}

.artista_cidade {
  padding-top: 0.2rem;
}

.criacao {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.obras {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  row-gap: 26px;
  column-gap: 1px;
  

}

.obras .card-template {
 background-color: var(--bege);
}