.controles {
    align-items: center;
    justify-content: center;
    max-width: 960px;
    display: flex;
    gap: 12px;
    margin-bottom: 28px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--vinho);

}

.conteudo {
    flex: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 28px 24px;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: var(--vinho);
  }


.pagina {
    min-height: 100vh;
    background-color: var(--vinho);
    display: flex;
    flex-direction: column;
    position: relative;
  
    padding-left: var(--padding-pagina);
    padding-right: var(--padding-pagina);
    padding-bottom: var(--padding-pagina);  
  }

.cardsContainer{
  display: grid;
  grid-template-columns: repeat(4, 312px);
  gap: 15px;
  justify-content: center;
  background-color: var(--vinho);
  
}

.cardLink{
  cursor: pointer;
}