body {
  background-color: var(--vinho);
  color: var(--bege)
}

.perfil {
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}

.perfil_info {
  display: flex;
  gap: 8rem;
  padding: var(--padding-pagina);
  justify-content: center;
  align-items: flex-start;
}

.perfil_obras {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: var(--padding-pagina);
  padding-top: 4rem;
}

.perfil_dados {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
  gap: 8px;
  text-align: justify;
}

.nome-editar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.perfil-contatos {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 4px;
}

.perfil_dados p {
  font-size: 18px;
}

.perfil-contatos p {
  font-size: 16px;
}

.perfil_foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -18px;
}

.fotoPerfil {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.perfil_user {
  padding-top: 0.6rem;
}

.artista_cidade {
  padding-top: 0.1rem;
}

.criacao {
  display: flex;
  justify-content: space-between;
  max-width: 1248px;
  margin: 0 auto;
  width: 100%
}

.criacao h2 {
  margin-top: 6px;
}

.obras {
  display: grid;
  grid-template-columns: repeat(4, 312px);
  row-gap: 2rem;
  justify-content: center;
  margin-left: 22px;
}

.obras .card-template {
 background-color: var(--bege);
 
}

.card-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 20px;
}

.overlay-img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}

.imagem-aberta {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
}

.overlay-perfil{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}
.img-perfil {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
}


.instagram-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--bege);
}

.email-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--bege);
    margin-left: -2px;
}

.email-link svg {
  font-size: 19px;
}

.portfolio-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--bege);
    margin-left: -3px;
}

.portfolio-link svg {
  font-size: 19px;
}

.perfil_dados a:hover {
  color: var(--laranja);
}