body {
  background-color: var(--vinho);
  color: var(--bege)
}

.perfil-visitante .perfil {
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}

.perfil-visitante .perfil_info {
  display: flex;
  gap: 8rem;
  padding: var(--padding-pagina);
  justify-content: center;
  align-items: flex-start;
}

.perfil-visitante .perfil_obras {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: var(--padding-pagina);
  padding-top: 4rem;
}

.perfil-visitante .perfil_dados {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 8px;
  text-align: justify;
}

.perfil-visitante .perfil-denunciar {
  display: flex;
  align-items: center;
  gap: 14px;
}

.perfil-visitante .perfil-denunciar .botao-denuncia {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 8px;

    background-color: var(--laranja);
    color: var(--bege);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.perfil-visitante .perfil-denunciar .botao-denuncia svg {
    font-size: 26px;
}

.perfil-visitante .perfil-denunciar .botao-denuncia:hover {
    background-color: var(--pink);
}

.perfil-visitante .perfil-contatos {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 4px;
}

.perfil-visitante .perfil_dados p {
  font-size: 18px;
}

.perfil-visitante .perfil-contatos p {
  font-size: 16px;
}

.perfil-visitante .perfil_foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -18px;
}

.perfil-visitante .fotoPerfil {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.perfil-visitante .perfil_user {
  padding-top: 0.6rem;
}

.perfil-visitante .artista_cidade {
  padding-top: 0.1rem;
}

.perfil-visitante .criacao {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.perfil-visitante .criacao h2 {
  margin-top: 6px;
}

.perfil-visitante .obras {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.perfil-visitante .obras .card-template {
 background-color: var(--bege);
}

.perfil-visitante .card-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 20px;
}

